*~
main
FeatureExtract/FeatureExtract
FeatureSelect/FeatureSelect
VocabLearn/VocabLearn
VocabBuildDB/VocabBuildDB
VocabMatch/VocabMatch
.settings/*

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/test_descriptors

# Executables output files
*.xml.gz
*.yaml.gz
VocabMatch/candidates.txt
VocabMatch/matches.txt
VocabMatch/results.html
SelectDescriptors/SelectDescriptors
