*~

# Eclipse project settings
.settings/*

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
FeatureExtract/FeatureExtract
FeatureSelect/FeatureSelect
VocabLearn/VocabLearn
VocabBuildDB/VocabBuildDB
VocabMatch/VocabMatch

# Executables output files
*.xml.gz
*.yaml.gz
VocabMatch/candidates.txt
VocabMatch/matches.txt
VocabMatch/results.html
SelectDescriptors/SelectDescriptors

/Test
*.log
